body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("CoffeeBackground.jpeg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  
}
.CC {
  font-size: 75px;
  color: white;
  text-shadow: 10px 10px 10px #000000;
  font-family: 'Sofia';
}
.p {
  font-family: 'Roboto';
  
}
.navbar {
  margin-bottom: 0px;
  color: black;
}
.logo {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 200%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
.navbar-brand{
  color: tan !important;
}
.nav-link{
  color: tan !important;

}
footer{
background-color: #292b2c;
color: tan !important;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #292b2c;
  
}

.caption span.border {
  background-color: #292b2c;
  color: tan;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border: 2px solid black;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("CoffeeBackground.jpeg");
  min-height: 250px;
}

.bgimg-2 {
  background-image: url("images/CoffeeBackground1.jpeg");
  min-height: 250px;
}

.bgimg-3 {
  background-image: url("images/CoffeeBackground2.jpeg");
  min-height: 250px;
}

.darkenBackground {
  background-color: #292b2c;
  color: tan;
}